.Home{
    display: flex;
    flex-direction: column;
}
.bigLogo{
    margin-top:100px;
    margin-left: 192.77px; 
    width: 500px;
    animation: float 6s ease-in-out infinite;
}
.bigLogo:hover{

    
    transform: scale(1.2);
}

.text{
	width: 500px;
	margin-left: 192.77px;	
}
.text > p{
	text-align: justify;
	color:#FFFFFF;
}

button{
	width: 150px;
	height: 40px;
	border-radius: 20px;
	margin-left: 192.77px;
}

@media screen and (max-width: 1200px){

	.bigLogo {
		width: 400px;
	}
	.text{
		width: 400px;
	}
	
}
@media screen and (max-width: 400px){
	.main{
        margin-left: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
		align-items: center;
    }
	.Home{
		flex-direction: row;
	}

	.bigLogo {
		width: 200px;
		margin-top: 10px;
		margin-left: 0;
	}
	.text{
		width: 200px;
		margin-top: 0;
		margin-left: 0;
	}
	button{
		margin-left: 0;
	}
	
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
	
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}